.flex-1.flex.flex-col.items-center.text-center.space-y-3
  - if service.image.attached? && service.image.representable?
    = image_tag url_for(service.image.variant(resize_to_limit: [192, 192])), class: "w-24 lg:w-48 mb-3"
  %p.font-bold.text-manatee= service.name
  %p= service.description
