- if @active_page.present?
  %h1 Active page
  = render @active_page

- if @pages.any?
  %h1.mt-6 More pages
  = render @pages
- if @pages.empty? && @active_page.nil?
  .h-screen.flex.items-center.justify-center
    = link_to 'Create your first cover page', new_admin_page_path, class: "button max-w-md"
