%meta{ name: "title", content: "Mario Gómez" }
%meta{ name: "description", content: "Hi! I've been a software engineer for over 7 years. I'm specialized in web development, welcome to my site!" }
%meta{ property: "og:type", content: "website" }
%meta{ property: "og:url", content: "https://www.mariogmz.com" }
%meta{ property: "og:title", content: "Mario Gómez" }
%meta{ property: "og:description", content: "Hi! I've been a software engineer for over 7 years. I'm specialized in web development, welcome to my site!" }
%meta{ property: "og:image:width", content: "250" }
%meta{ property: "og:image:height", content: "250" }
%meta{ property: "og:image", content: "https://www.gravatar.com/userimage/141130636/8196aab467a5a6395a01f5fe76051f86.jpg?size=250" }
