<!-- about -->
%section.bg-space-cadet.text-alice-blue.relative.flex.flex-col.lg:flex-row.lg:h-screen{ id: "about" }
  .ziggy-top-center.amaranth-red
  .ziggy-bottom-center.amaranth-red
  .corner-top-left.top-amaranth-red.bg-alice-blue
    - if @page.about_image.attached?
      = image_tag @page.about_image, class: "w-full h-full max-h-screen-half object-cover lg:max-h-none"
  .py-20.corner-bottom-right.bottom-amaranth-red.relative.overflow-hidden.flex.flex-col.items-center.justify-center.lg
    .content-circle
    .z-10.text-center.px-6.space-y-6
      %h2.font-spartan.text-amaranth-red= @page.about_title
      %p.text-alice-blue= @page.summary
