%section.h-screen.bg-space-cadet.text-alice-blue.z-10.relative.flex.flex-col.lg:flex-row
  .ziggy-top-center.amaranth-red
  .ziggy-bottom-center.amaranth-red
  .flex-1.corner-top-left.top-amaranth-red.bg-alice-blue
    = image_tag @page.about_image, class: "w-full max-h-screen-half h-full object-cover lg:max-h-none"
  .flex-1.corner-bottom-right.bottom-amaranth-red.relative.overflow-hidden
    .background-circle.flex.flex-col.items-center.justify-center.space-y-6.px-12
      %h2.font-spartan.text-amaranth-red= @page.about_title
      %p.text-alice-blue.text-center= @page.summary
