<!-- cover -->
%section.bg-amaranth-red.text-alice-blue.flex.flex-col.h-screen.lg:flex-row
  %div{ class: "flex items-center justify-center corner-top-right corner-bottom-left bottom-space-cadet top-space-cadet flex-grow md:justify-start lg:w-7/12" }
    .ziggy-top-left.alice-blue.outset
    .ziggy-bottom-right
    .max-w-lg.text-center.md:text-left.md:ml-28
      %h1.text-space-cadet.mb-6= @profile.full_name
      %h3.text-alice-blue.md:pl-3= @profile.role
  %div{ class: "flex-grow lg:w-5/12 relative" }
    .circle.back
    = image_tag(@page.hero_image_big, class: "circle big") if @page.hero_image_big.attached?
    = image_tag(@page.hero_image_front, class: "circle front") if @page.hero_image_front.attached?
