<!-- cover -->
%section.bg-amaranth-red.text-alice-blue.flex.flex-col.h-screen.lg:flex-row
  %div{ class: "flex items-center justify-center corner-top-right corner-bottom-left bottom-space-cadet top-space-cadet flex-grow md:justify-start lg:w-7/12" }
    .ziggy-top-left.alice-blue.outset
    .ziggy-bottom-right
    .max-w-lg.text-center.md:text-left.md:ml-28
      %h1.text-space-cadet.mb-6 Mario Gómez
      %h3.text-alice-blue.md:pl-3 Beer Driven Engineer
  %div{ class: "flex-grow lg:w-5/12 relative" }
    .circle.back{ src: "https://via.placeholder.com/615/" }
    .circle.big{ src: "https://via.placeholder.com/800/" }
    .circle.front{ src: "https://via.placeholder.com/585/" }
