<!-- experience -->
%section.bg-alice-blue.text-space-cadet.min-h-screen.flex.items-center.justify-center.relative.corner-bottom-left.corner-top-right.bottom-amaranth-red.top-space-cadet.mt-16.py-16
  .ziggy-bottom-left.space-cadet.inset
  .ziggy-top-right.amaranth-red.inset
  .container
    %h2.text-center.mb-14.lg:text-left Experience
    .container.flex.flex-col.divide-y-2.divide-opacity-5
      = render @jobs
