= render "cover"
%section.h-screen.bg-space-cadet.text-alice-blue
  %h1 Get to know Mario
%section.h-screen.bg-amaranth-red
  %h1 What I do
%section.h-screen.bg-space-cadet.text-alice-blue
  %h1 Contact
