%navbar{class: ["shadow-xl flex flex-row align-center bg-space-cadet text-white p-6 space-x-4 text-lg",
                "md:w-1/4 md:flex-col md:space-y-4 md:space-x-0 lg:w-2/12"]}
  = link_to "Profile", edit_admin_profile_path, class: "dark"
  = link_to "Page", admin_pages_path, class: "dark"
