%navbar{class: ["shadow flex flex-row align-center bg-space-cadet text-white p-5 space-x-6 text-lg",
                "md:w-2/12 md:p-6 md:flex-col md:space-y-4 md:space-x-0 2xl:w-40"]}
  = link_to "Dashboard", admin_dashboard_path, class: "secondary"
  = link_to "Profile", edit_admin_profile_path, class: "secondary"
  = link_to "Pages", admin_pages_path, class: "secondary"
  = link_to "Experience", admin_pages_path, class: "secondary"
