@import "corners.css";
@import "ziggy.css";

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

@layer base {
  :root {
    --color-space-cadet: #2b2d42;
    --color-manatee: #8d99ae;
    --color-alice-blue: #edf2f4;
    --color-amaranth-red: #d90429;
    --color-tall-red: #b02b34;
  }

  h1,
  h2 {
    @apply leading-none;
  }

  h1 {
    @apply text-7xl font-spartan font-bold uppercase mb-6 md:text-9xl;
  }

  h2 {
    @apply text-4xl font-app font-bold tracking-widest md:text-6xl;
  }

  h3 {
    @apply text-2xl font-app font-bold tracking-widest md:text-3xl;
  }
}

.circle {
  background-color: var(--color-tall-red);
  border-radius: 50%;
  max-width: none;
  object-fit: cover;
  position: absolute;

  @apply shadow-xl;

  &.back {
    height: 215px;
    width: 215px;
    left: -20%;
    top: -5%;

    @media screen and (min-width: 640px) {
      height: 415px;
      width: 415px;
    }

    @media screen and (min-width: 1536px) {
      height: 615px;
      width: 615px;
    }
  }

  &.big {
    height: 480px;
    width: 480px;
    top: 4%;
    right: -40%;

    @media screen and (min-width: 640px) {
      height: 680px;
      width: 680px;
    }

    @media screen and (min-width: 1536px) {
      height: 880px;
      width: 880px;
    }
  }

  &.front {
    height: 185px;
    width: 185px;
    bottom: -5%;
    left: -10%;

    @media screen and (min-width: 640px) {
      height: 385px;
      width: 385px;
    }

    @media screen and (min-width: 768px) and (max-width: 1279px) {
      left: 25%;
    }

    @media screen and (min-width: 1536px) {
      height: 585px;
      width: 585px;
    }
  }
}
