@import "corners.css";
@import "ziggy.css";

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

@layer base {
  :root {
    --color-space-cadet: #2b2d42;
    --color-ebony-clay: #303245;
    --color-manatee: #8d99ae;
    --color-alice-blue: #edf2f4;
    --color-amaranth-red: #d90429;
    --color-tall-red: #b02b34;
    --color-brick-red: #c72b33;
  }

  html {
    scroll-behavior: smooth;
  }

  h1,
  h2,
  h3 {
    @apply leading-none uppercase font-bold font-spartan;
  }

  h1 {
    @apply text-7xl mb-6 md:text-9xl;
  }

  h2 {
    @apply text-4xl md:text-6xl;
  }

  h3 {
    @apply text-xl md:text-3xl;
  }

  p {
    @apply text-lg;
  }
}

.circle {
  background-color: var(--color-tall-red);
  border-radius: 50%;
  max-width: none;
  object-fit: cover;
  position: absolute;

  @apply shadow-xl;

  &.back {
    height: 215px;
    width: 215px;
    left: -20%;
    top: -5%;

    @media screen and (min-width: 640px) {
      height: 415px;
      width: 415px;
    }

    @media screen and (min-width: 1536px) {
      height: 615px;
      width: 615px;
    }
  }

  &.big {
    height: 480px;
    width: 480px;
    top: 4%;
    right: -40%;

    @media screen and (min-width: 640px) {
      height: 680px;
      width: 680px;
    }

    @media screen and (min-width: 1536px) {
      height: 880px;
      width: 880px;
    }

    &.left {
      right: auto;
      left: -40%;
      top: -10%;
    }
  }

  &.front {
    height: 185px;
    width: 185px;
    bottom: -5%;
    left: -10%;

    @media screen and (min-width: 640px) {
      height: 385px;
      width: 385px;
    }

    @media screen and (min-width: 768px) and (max-width: 1279px) {
      left: 25%;
    }

    @media screen and (min-width: 1536px) {
      height: 585px;
      width: 585px;
    }

    &.right {
      left: auto;
      right: -10%;

      @media screen and (min-width: 768px) and (max-width: 1279px) {
        right: 15%;
      }
    }
  }
}

.content-circle {
  background-color: var(--color-ebony-clay);
  border-radius: 50%;
  height: 500px;
  left: 50%;
  min-height: 700px;
  min-width: 700px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  z-index: 1;
  @apply shadow-xl;

  &.big {
    min-height: 1000px;
    min-width: 1000px;
  }

  &.brick-red {
    background-color: var(--color-brick-red);
  }
}

.ziggy {
  width: 65px;

  @media screen and (min-width: 768px) {
    width: 115px;
  }

  &.small {
    height: 15px;
    width: 115px;
  }
}

.job {
  position: relative;

  &::before {
    background-image: url('images/ziggy-amaranth-red.svg');
    background-repeat: no-repeat;
    display: none;
    content: '';
    height: 15px;
    left: -95px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 115px;

    @media screen and (min-width: 1280px) {
      display: block;
    }
  }
}
