@import "corners.css";
@import "ziggy.css";

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

@layer base {
  :root {
    --color-space-cadet: #2b2d42;
    --color-manatee: #8d99ae;
    --color-alice-blue: #edf2f4;
    --color-amaranth-red: #d90429;
    --color-tall-red: #b02b34;
  }

  h1,
  h2 {
    @apply leading-none;
  }

  h1 {
    @apply text-7xl font-spartan font-bold uppercase mb-6 md:text-9xl;
  }

  h2 {
    @apply text-4xl font-app font-bold tracking-widest md:text-6xl;
  }

  h3 {
    @apply text-2xl font-app font-bold tracking-widest md:text-3xl;
  }
}

.circle {
  background-color: var(--color-tall-red);
  border-radius: 50%;
  object-fit: contain;
  position: absolute;

  @apply shadow-xl;

  &.back {
    height: 615px;
    width: 615px;
    left: -20%;
    top: -5%;
  }

  &.big {
    height: 880px;
    width: 880px;
    top: 4%;
    right: -40%;
  }

  &.front {
    height: 585px;
    width: 585px;
    bottom: -5%;
    left: -10%;
  }
}
