.corner-top-left,
.corner-top-right,
.corner-bottom-left,
.corner-bottom-right {
  position: relative;

  &.space-cadet:before,
  &.space-cadet::after {
    border-bottom-color: var(--color-space-cadet);
    border-top-color: var(--color-space-cadet);
  }
  &.alice-blue:before,
  &.alice-blue::after {
    border-bottom-color: var(--color-alice-blue);
    border-top-color: var(--color-alice-blue);
  }
  &.amaranth-red:before,
  &.amaranth-red::after {
    border-bottom-color: var(--color-amaranth-red);
    border-top-color: var(--color-amaranth-red);
  }

}

.corner-top-left::before,
.corner-bottom-left::before,
.corner-top-right::after,
.corner-bottom-right::after {
  content: "";
  position: absolute;
}

.corner-top-left::before,
.corner-top-right::after {
  border-top-style: solid;
  border-top-width: 100px;
  top: 0;

  @media screen and (min-width: 768px) {
    border-top-width: 150px;
  }
}

.corner-bottom-left::before,
.corner-bottom-right::after {
  border-bottom-style: solid;
  border-bottom-width: 100px;
  bottom: 0;


  @media screen and (min-width: 768px) {
    border-bottom-width: 150px;
  }
}

.corner-top-left::before,
.corner-bottom-left::before {
  border-right: 100px solid transparent;
  left: 0;

  @media screen and (min-width: 768px) {
    border-right: 150px solid transparent;
  }
}

.corner-top-right::after,
.corner-bottom-right::after {
  border-left: 100px solid transparent;
  right: 0;

  @media screen and (min-width: 768px) {
    border-left: 150px solid transparent;
  }
}
