.corner-top-left,
.corner-top-right,
.corner-bottom-left,
.corner-bottom-right {
  position: relative;

  &.top-space-cadet::before,
  &.top-space-cadet::after {
    border-top-color: var(--color-space-cadet);
  }
  &.bottom-space-cadet::before,
  &.bottom-space-cadet::after {
    border-bottom-color: var(--color-space-cadet);
  }
  &.top-alice-blue::before,
  &.top-alice-blue::after {
    border-top-color: var(--color-alice-blue);
  }
  &.bottom-alice-blue::before,
  &.bottom-alice-blue::after {
    border-bottom-color: var(--color-alice-blue);
  }
  &.top-amaranth-red::before,
  &.top-amaranth-red::after {
    border-top-color: var(--color-amaranth-red);
  }
  &.bottom-amaranth-red::before,
  &.bottom-amaranth-red::after {
    border-bottom-color: var(--color-amaranth-red);
  }
}

.corner-top-left::before,
.corner-bottom-left::before,
.corner-top-right::after,
.corner-bottom-right::after {
  content: "";
  position: absolute;
  z-index: 1;
}

.corner-top-left::before,
.corner-top-right::after {
  border-top-style: solid;
  border-top-width: 100px;
  top: 0;

  @media screen and (min-width: 768px) {
    border-top-width: 170px;
  }
}

.corner-bottom-left::before,
.corner-bottom-right::after {
  border-bottom-style: solid;
  border-bottom-width: 100px;
  bottom: 0;


  @media screen and (min-width: 768px) {
    border-bottom-width: 170px;
  }
}

.corner-top-left::before,
.corner-bottom-left::before {
  border-right: 100px solid transparent;
  left: 0;

  @media screen and (min-width: 768px) {
    border-right: 170px solid transparent;
  }
}

.corner-top-right::after,
.corner-bottom-right::after {
  border-left: 100px solid transparent;
  right: 0;

  @media screen and (min-width: 768px) {
    border-left: 170px solid transparent;
  }
}
